p.align-left{
  text-align: left;
}
reveal .small {
  line-height: 1.1 !important;
  font-size: .8em !important;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  color: inherit;
}
.reveal section img.clean-img {
  border: none;
  box-shadow: none;
  background: none;
}
.reveal section img.graph-img {
  border-color: #b3b3b3;
  box-shadow: none;
  background-color: #fff;
}
.reveal table.text-center th, .reveal table.text-center td {
  text-align: center !important;
}
.list-content-concise li {
  font-size: 1em;
  margin:0 0 10px 0;
}
#boxed-text-box > p {
  padding-top: 1em !important;
}
.reveal ol > li,
.reveal ul > li {
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
  position: relative;
}
.reveal ol > li{
  counter-increment: step-counter;
}
.reveal ol.continue-list.from-4 > li:first-child{
  counter-increment: step-counter 4;
}

.reveal ol > li::before {
  color: white;
  font-size: 80%;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 15px;
  border-radius: 3px;
  background-color: #F26225;
  content: counter(step-counter);
}
.reveal ul > li::before{
  color: #F26225;
  content: "\25AA";
  margin-right: 15px;
}
.reveal pre {
  width: 100%;
}
.reveal pre code {
  padding: 10px 15px;
  max-height: none;
  font-size: 90%;
}

.reveal .slides section .code-presenting-annotation {
  background: rgb(242, 98, 37) !important;
  margin: 0 auto;
  padding: 5px 0;
}

.reveal blockquote {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: rgba(200, 200, 200, 0.5);
}

.split-screen-text {
  width: 45%
}
.split-screen-list li {
  font-size: .8em;
  margin: 18px 0;
}

.split-screen-fa {
  width: 50%;
}

.split-screen-fa > div {
  width: 227px;
  margin-left: 5.6vh;
}
.split-screen-fa #boxed-text {
  padding-right: .5em;
}
